<div id="content">
<div class="alert alert-info"><strong>Html To PDF Conversion - Angular 6</strong></div>
<div><button (click)="captureScreen()">Download</button></div>
</div>
<div id="pdf-download">
  <table id="downloadInfo">
    <thead>
      <tr>
        <th rowspan="2">№</th>
        <th rowspan="2">Найменування</th>
        <th rowspan="2">Виробник</th>
        <th rowspan="2">Од.</th>
        <th rowspan="2">Кількість</th>
        <th rowspan="1" colspan="2">Ціни* наведені у валюті USD без ПДВ</th>
      </tr>
      <tr>
        <th rowspan="1" colspan="1">Ціна</th>
        <th rowspan="1" colspan="1">Сума</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Примекстра TZ Голд 500 SC., к.с., 20л</td>
        <td></td>
        <td>л</td>
        <td>800,00</td>
        <td>7,44</td>
        <td>5 952, 00</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">Всього</td>
        <td>-----</td>
        <td>-----</td>
        <td>-----</td>
        <td>-----</td>
        <td>5 832,00</td>
      </tr>
    </tfoot>
  </table>
</div>
